.main-box {
  padding: 15px;
  width: 30%;
  position: relative;
  top: 12rem;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .main-box {
    width: 90%;
    padding-left: 5rem;
  }
}

.showHint {
  border: none;
  margin-top: 0.5rem;
  background-color: transparent;
}
