.main-box-admin {
  padding: 15px;
  width: 50%;
  position: relative;
  top: 12rem;
  left: 40%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
  .main-box-admin {
    width: 100%;
    padding-left: 1rem;
  }
}
