.professional {
  width: 60vw;
  margin-left: 12rem;
  margin-top: 2rem;
  padding: 1rem;
}

@media (max-width: 480px) {
  .professional {
    margin-top: 0rem;
    margin-left: 3.5rem;
    width: 81vw;
  }
}
