.professional {
  position: absolute;
  width: 60vw;
  margin-left: 0rem;
  margin-top: 0rem;
  padding: 1rem;
}

@media (max-width: 480px) {
  .professional {
    width: 97vw;
    margin-top: 0.5rem;
    margin-left: -3.75rem;
  }
}

.dropbtn {
  border: none;
  background-color: transparent;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 10%;
  width: 20rem;
  background-color: #9b51e0;
  color: white;

  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
