.banner {
  padding-left: 90px;
  position: relative;
  margin-left: 0;
  z-index: 0;
  /* background-image: linear-gradient(
    to right,
    #ada996,
    #f2f2f2,
    #dbdbdb,
    #eaeaea
  ); */
  overflow-x: hidden;
  height: 66vh;
}

.for-companies {
  width: 554px;
  height: 200px;
  float: left;
  position: absolute;
  top: 1.5rem;
  left: 4.2rem;
  z-index: 1;
}
.for-companies p {
  font-family: initial;
  color: #405254;
}
.for-developers {
  width: 705px;
  height: 200px;
  float: left;
  position: absolute;
  top: 2.5rem;
  left: 38rem;
  z-index: 1;
}

.for-developers p {
  font-family: initial;
  color: #405254;
}

.bannerImg {
  position: relative;
  left: 0rem;
  top: 3rem;
  width: 40vw;
}

h3 {
  font-size: 2.2rem;
}
@media (max-width: 480px) {
  .banner {
    padding-left: 0px;
    position: static;
    z-index: -10;
    height: 88vh;
    /* background-image: linear-gradient(
      to bottom,
      #ada996,
      #f2f2f2,
      #dbdbdb,
      #eaeaea
    ); */
  }
  .for-companies {
    width: 90vw;
    height: 0px;
    top: 2rem;
    left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
  }

  .for-developers {
    position: relative;
    width: 317px;
    left: 8px;
    top: 1rem;
    overflow: -moz-hidden-unscrollable;
  }

  .banner-image-section {
    position: relative;
    top: 27rem;
    font-weight: 100;
  }

  .bannerImg {
    position: absolute;
    left: 5rem;
    width: 77vw;
    top: 0rem;
    height: 14vh;
    overflow-y: hidden;
  }
}

.fonts {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
