.fonts {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
.home-main {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.for-companies {
  background-color: #dddddd;
}
.for-developers {
  background-color: rgb(196 197 194);
}
.for-companies-block {
  position: relative;
  top: 4.5rem;
  left: 2rem;
  z-index: 1;
}
.for-developers-block {
  position: relative;
  top: 4.5rem;
  z-index: 1;
}
.for-companies-block p {
  font-family: initial;
  color: #405254;
}
.for-developers-block p {
  font-family: initial;
  color: #405254;
}

.for-developers p {
  font-family: initial;
  color: #405254;
}
.banner-image-2 {
  position: relative;
  left: 2rem;
}

@media (max-width: 480px) {
  .for-companies-block {
    position: relative;
    top: 1.5rem;
    left: 1rem;
    z-index: 1;
  }
  .for-developers-block {
    position: relative;
    top: 1.5rem;
    left: 1rem;
    z-index: 1;
  }
  .for-companies-block p {
    width: 95%;
  }
  .for-developers-block p {
    width: 95%;
  }
  .banner-image-2 {
    position: relative;
    left: 0;
  }
}
