.banner1 {
  position: relative;
  height: 65vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.banner2 {
  position: relative;
  height: 75vh;
  overflow-x: hidden;
}

.for-companies {
  height: 200px;
  width: 600px;
  float: left;
  position: relative;
  text-align: justify;
  top: 1.5rem;
  left: 3rem;
  z-index: 1;
}
.for-companies p {
  font-family: initial;
  color: #405254;
}
.for-developers {
  height: 284px;
  width: 700px;
  margin-top: 2rem;
  position: relative;
  text-align: justify;
  z-index: 1;
}

.for-developers p {
  font-family: initial;
  color: #405254;
}

.bannerImage2 {
  position: relative;
  top: 0;
  margin-left: 1rem;
}

@media (max-width: 480px) {
  .banner1 {
    height: auto;
  }
  .for-companies {
    width: 90vw;
    top: 2rem;
    left: 4px;
    padding-left: 2rem;
    z-index: 1;
    text-align: justify;
    padding-right: 1rem;
  }
  .bannerImage1 {
    margin-top: 16rem;
  }

  .banner2 {
    height: 135vh;
    overflow-y: hidden;
  }

  .for-developers {
    position: relative;
    width: 85vw;
    left: 20px;
    text-align: justify;
    padding-right: 1rem;
  }
  .bannerImage2 {
    margin-top: -4rem;
    margin-left: 1rem;
  }
  .bannerImage2 img {
    height: 50vh;
    width: 90vw;
  }
}

.fonts {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
