.personal {
  position: absolute;
  width: 60vw;
  margin-left: 0rem;
  margin-top: 0rem;
  padding: 1rem;
}

@media (max-width: 480px) {
  .personal {
    width: 97vw;
    margin-top: 0.5rem;
    margin-left: -3.75rem;
  }
}
