.main-box-admin-candidate-signup {
  width: 60%;
  position: absolute;
  top: 15rem;
  left: 50%;
}

@media (max-width: 480px) {
  .main-box-admin-candidate-signup {
    width: 120%;
    left: 41%;
  }
}
