* {
  margin: 0;
  padding: 0;
}
.fonts {
  font-family: "Open Sans", sans-ser;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary {
  color: white;
  background-color: #9b51e0;
  border: none;
}
.badge-primary {
  color: black;
  background-color: white;
  border: 0.08px solid rgba(0, 0, 0, 0.295);
}

.btn-outline-primary{

 border-color: #9b51e0;
 color:#9b51e0;


}
.btn-outline-primary:hover{

  background-color: #9b51e0;
  border-color:#9b51e0;
  color:white;
 
 }


.btn-primary:hover {
  color: black;
  background-color: white;

}